.cl1{background-color: #222222;
position: relative;
padding-left: 150px;
padding-bottom: 5px;
padding-top: 5px;
margin-left: 0px;
}


.cl2{font-family: "Courier New";
    font-size: 45px;
    text-align: left;
    color: white;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
    padding-top: 100px;
    padding-left: 100px;
}

.logo{left: 110px;
      top: 50px;
      position: absolute;
      
}

.cl3{font-family: "Courier New";
    font-size: 35px;
    text-align: left;
    color: #feca30;
    font-weight: bold;
    position: relative;
    padding-top: 60px;
    width: 1000px;
    
}

.cl4{background-color: #131313;
     padding-left: 150px;
     padding-top: 42px;

}

.cl5{color: #d4d4d4;
    font-family: "Verdana",Sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 980px;
    height: 153px;
    padding: 40px;
    border-collapse: collapse;
}

.cl6{color: #feca30;
    font-family: "Verdana",Sans-serif;
    font-size: 14px;
    position: relative;
    padding-top: 150px;
}

.cl7{color: #feca30}

.cl8{background-color: #131313;
    margin: 0px;
}
  
.cl11{padding: 15px;
    width:180px;
}

.cl10{padding-left: 120px; 
    border-bottom: 1px solid #555555; 
    text-align: left;
    justify-content: space-around;
}
.cl12{padding-left: 15px; 
    border-bottom: 1px solid #555555; 
    text-align: left;
    justify-content: space-around;
}
.cl9{padding: 15px;
      background-color: #222222;
    width:180px;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    